<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="" name="OEF-SDK">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SS} [%t] %-5level %logger{36} - %msg%n}" disableAnsi="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="warn">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File" />
        </Root>
        <logger name="fetch.oef.sdk.kotlin" level="trace" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </logger>
    </Loggers>
</Configuration>